<ion-header [translucent]="true">
  <ion-toolbar>

    <div class="main">
      <ion-title>
        <img class="Logo" src="https://www.wwe.com/a/i/wwe_logo.svg" alt="">
      </ion-title>
      <ion-list>
        <ion-item>
          <!-- <img class="lang-icon" src="assets/lang-icon.svg" alt=""> -->
          <ion-select aria-label="language" placeholder="language" (ionChange)="handleChange($event)"
            (ionCancel)="handleCancel()" (ionDismiss)="handleDismiss()">
            <ion-select-option *ngFor="let language of languages" [value]="language.code">
              {{language.name}}
            </ion-select-option>
          </ion-select>



        </ion-item>
      </ion-list>
    </div>

  </ion-toolbar>
</ion-header>